/* you will add css rules for element selectors and IDs */

/* all flex items must be within a container
each item in a flex cntr will behave as flex*/
/* you may add to or change the body rule */
html {box-sizing: border-box;}


body {

    font-family: sans-serif;
    color: #fff;
    background: #333;
    margin: 0;
}

footer {
        font-family: sans-serif;
        justify-content: center;
        color: #fff;
        display: flex;
        margin: .25rem;
        padding: 1rem;
}

header {
        align-items: center;
        font-family: sans-serif;
        font-variant-caps: all-small-caps;
        color: #fff;
        display: flex;
        justify-content:space-between;
        margin: 0;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
}

nav ul {

    display:flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
  }

nav ul li {
    color: #fff;
    font-size:2.5rem;
    margin: 0;
    margin: 0 2rem;

  }

img {

    flex: 0 1 auto;
    align-content:flex-around;
    max-width: 100%; /* DO NOT delete or change this line */
    margin: 0
    flex: 0 1 auto;

}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* page tags *
h, p and:
1.section class="photo"
2. section class="text"
3.article id cougar lion, tiger,
*/


h1 {font-size: 4rem;}
h2 {font-size: 2.75rem;
    }

article {
        display:flex;
        flex: 1 1 0;
        align-items:flex-start;
        max-width: 100%;
  }



/* Article IDs */
#cougar { background: #379CB2;}
#lion   { background: #B26219;

        }
#tiger  { background: #82E8FF; }

/* Section/Classes. Sections are within Article */
.text {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        color: #000;
        font-size: 1.2rem;
        line-height: 1.75rem;
        margin: 0;
        margin-bottom: 1rem;
        max-width: 100%;
        padding: 2rem;
  }

.photo {  align-items: flex-start;
          display: flex;
          flex: 1 0 800px;
          flex-wrap: wrap;
          height: 800px;
          justify-content: space-around;
          padding-left: .5rem;
          padding-top: 4rem;
          max-width: 100%;
          margin: 0;
        }

.photo p {  display: flex;
            flex: 1 0 auto;
            flex-wrap: wrap;
            height: 800px;
            justify-content:flex-start;
            padding-top:2rem;
            max-width: 600px;
            font-size: 1rem;
            line-height: 2rem;
            margin: 0
          }

.photo a {  display: flex;
            flex: 1 0 auto;
            flex-wrap: wrap;
            height: 800px;
            justify-content:flex-start;
          }

/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

ul li a {
        color: #fff;
}


a {
    color: #B26219;
    text-decoration: none;
}
a:hover {
  color: #FFD5AE; }


#cougar a { color: #333 }
#cougar a:hover {
  color: #FFBD82; }

#lion section {
            color: #fff
              }
#lion a {
          color: #82E8FF
          }

#lion a:hover {
  color: #000; }


#tiger
.photo {
  color: #000;}

  #tiger a:hover { color: #fff;}
